
.fieldset {

  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.form-field {
  display: block;
}

.fieldset > * {
  box-sizing: border-box;
  margin-top: 10px;
}

.form-field__first {
  margin-top: 0;
}

.fieldset__first {
  margin-top: 0;
  margin-bottom: 0;
}
